body{
font-family: sans-serif;
    max-width: 100%;
    max-height: 100%;  
}
h2{
    font-family: serif;
}

.container {
    display: flex;
    gap: 20px;    
    max-height: 700px;

}

#searchBar {
    margin-bottom: 10px;
}

#searchResults {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.word-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.word-button .word-spell {
    font-size: 1.2em;
    font-weight: bold;
}

.word-button .word-reading {
    font-size: 0.8em;
    color: #555;
}
.word-button .english {
    font-size: 0.8em;
    color: #555;
}
.left-column {
  overflow: scroll;    
}
.right-column {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    bottom: -1.5em;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8em;
    white-space: nowrap;
}
