.container {
    display: flex;
    width: 100%;
}

.left-column {
    width: 30%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.right-column {
    width: 70%;
    padding: 10px;
}

.search-result-button {
    display: block;
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.custom-font {
    font-family: 'Fantasy', serif;
    color: #333;
    font-size: 1.5rem;
}
button{
    width:100%;
}
